<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="ExchangeTime" Language="1033" Version="2.0.0.0" Manufacturer="Tangent" UpgradeCode="bf8844d3-098c-4f90-87f6-87fa5895d614">
		<Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <UIRef Id="WixUI_Minimal" />

		<Feature Id="ProductFeature" Title="ExchangeTimeSetup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="Tangent" Name ="Tangent">
				  <Directory Id="INSTALLFOLDER" Name="ExchangeTime" />
        </Directory>
			</Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
		</Directory>
	</Fragment>

	<Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent0" >
        <RegistryValue Id="RegShortcutDesktop" Root="HKCU" Key="SOFTWARE\Tangent\settings" Name="DesktopShortcutExchangeTime" Value="1" Type="integer" KeyPath="yes" />
        <Shortcut Target="[INSTALLFOLDER]ExchangeTime.exe" WorkingDirectory="INSTALLFOLDER" Id="desktopshortcut" Name="ExchangeTime" Directory="DesktopFolder" />
      </Component>
      <Component Id="ProductComponent1">
        <File Id="ExchangeTime.exe" Name="ExchangeTime.exe" Source="$(var.ExchangeTime.TargetPath)" KeyPath="yes" />
      </Component>
      <Component Id="ProductComponent2">
        <File Id="ExchangeTime.exe.config" Name="ExchangeTime.exe.config" Source="$(var.ExchangeTime.TargetPath).config" KeyPath="yes" />
      </Component>
      <Component Id="ProductComponent3">
        <File Id="ExchangeTime.pdb" Name="ExchangeTime.pdb" Source="$(var.ExchangeTime.TargetDir)ExchangeTime.pdb" KeyPath="yes" />
      </Component>
      <!--
      <Component Id="ProductComponent4">
        <File Id="ExchangeTime.xml" Name="ExchangeTime.xml" Source="$(var.ExchangeTime.TargetDir)ExchangeTime.xml" KeyPath="yes" />
      </Component>
      -->
      <Component Id ="ProductComponent5">
        <File Id ="TanUtility.dll" Source ="$(var.ExchangeTime.TargetDir)TanUtility.dll" KeyPath="yes" />
      </Component>
      <Component Id ="ProductComponent6">
        <File Id ="TanUtility.pdb" Source ="$(var.ExchangeTime.TargetDir)TanUtility.pdb" KeyPath="yes" />
      </Component>

      <Component Id ="ProductComponent7">
        <File Id ="Nlog.dll" Source ="$(var.ExchangeTime.TargetDir)Nlog.dll" KeyPath="yes" />
      </Component>
      <Component Id ="CMP_Ookii.dll">
        <File Id ="FILE_Ookii.dll" Source ="$(var.ExchangeTime.TargetDir)Ookii.Dialogs.Wpf.dll" KeyPath="yes" />
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>